{% extends 'base.html' %}
{% block title %} Servicios {% endblock %}

{% block fondo %}fondo-orange{% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="row p-3 justify-content-center mt-5">
        <div class="col-10 col-lg-4">
            <img src="{{url_for('static' , filename = 'img/Predeterminado.svg')}}" alt="" class="img-fluid rounded">
        </div>

        <div class="col-12 col-lg-8">
            <div class="card fondo-orange shadow h-100 border-0">
                <div
                    class="card-body rounded d-flex flex-column align-items-center justify-content-center text-white shadow fondo-orange">
                    <div class="text-center px-3 px-lg-5">
                        <h1 class="display-4"><strong>DTF - TEXTIL</strong></h1>
                        <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi labore et,
                            vitae quis,
                            commodi esse ut reiciendis quaerat ipsum quo perspiciatis quae accusantium veniam expedita
                            sequi odio
                            ullam earum saepe!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row p-3 justify-content-center bg-dark">
        <div class="col-12 col-lg-8 order-2 order-lg-1">
            <div class="card bg-dark shadow h-100 border-0">
                <div
                    class="card-body bg-dark rounded d-flex flex-column align-items-center justify-content-center text-white shadow fondo-orange">
                    <div class="text-center px-3 px-lg-5">
                        <h1 class="display-4"><strong>DTF - UV</strong></h1>
                        <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi labore et,
                            vitae quis,
                            commodi esse ut reiciendis quaerat ipsum quo perspiciatis quae accusantium veniam expedita
                            sequi odio
                            ullam earum saepe!</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-10 col-lg-4 order-1 order-lg-2">
            <img src="{{url_for('static' , filename = 'img/Predeterminado.svg')}}" alt="" class="img-fluid rounded">
        </div>
    </div>

    <div class="row p-3 justify-content-center">
        <div class="col-10 col-lg-4">
            <img src="{{url_for('static' , filename = 'img/Predeterminado.svg')}}" alt="" class="img-fluid rounded">
        </div>

        <div class="col-12 col-lg-8">
            <div class="card fondo-orange shadow h-100 border-0">
                <div
                    class="card-body rounded d-flex flex-column align-items-center justify-content-center text-white shadow fondo-orange">
                    <div class="text-center px-3 px-lg-5">
                        <h1 class="display-4"><strong> SUBLIMACIÓN </strong></h1>
                        <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi labore et,
                            vitae quis,
                            commodi esse ut reiciendis quaerat ipsum quo perspiciatis quae accusantium veniam expedita
                            sequi odio
                            ullam earum saepe!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row p-3 justify-content-center bg-dark">
        <div class="col-12 col-lg-8 order-2 order-lg-1">
            <div class="card bg-dark shadow h-100 border-0">
                <div
                    class="card-body bg-dark rounded d-flex flex-column align-items-center justify-content-center text-white shadow fondo-orange">
                    <div class="text-center px-3 px-lg-5">
                        <h1 class="display-4"><strong> VINIL </strong></h1>
                        <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi labore et,
                            vitae quis,
                            commodi esse ut reiciendis quaerat ipsum quo perspiciatis quae accusantium veniam expedita
                            sequi odio
                            ullam earum saepe!</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-10 col-lg-4 order-1 order-lg-2">
            <img src="{{url_for('static' , filename = 'img/Predeterminado.svg')}}" alt="" class="img-fluid rounded">
        </div>
    </div>

    <div class="row p-3 justify-content-center">
        <div class="col-10 col-lg-4">
            <img src="{{url_for('static' , filename = 'img/Predeterminado.svg')}}" alt="" class="img-fluid rounded">
        </div>

        <div class="col-12 col-lg-8">
            <div class="card fondo-orange shadow h-100 border-0">
                <div
                    class="card-body rounded d-flex flex-column align-items-center justify-content-center text-white shadow fondo-orange">
                    <div class="text-center px-3 px-lg-5">
                        <h1 class="display-4"><strong> LONAS </strong></h1>
                        <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi labore et,
                            vitae quis,
                            commodi esse ut reiciendis quaerat ipsum quo perspiciatis quae accusantium veniam expedita
                            sequi odio
                            ullam earum saepe!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row p-3 justify-content-center bg-dark">
        <div class="col-12 col-lg-8 order-2 order-lg-1">
            <div class="card bg-dark shadow h-100 border-0">
                <div
                    class="card-body bg-dark rounded d-flex flex-column align-items-center justify-content-center text-white shadow fondo-orange">
                    <div class="text-center px-3 px-lg-5">
                        <h1 class="display-4"><strong> STICKERS </strong></h1>
                        <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi labore et,
                            vitae quis,
                            commodi esse ut reiciendis quaerat ipsum quo perspiciatis quae accusantium veniam expedita
                            sequi odio
                            ullam earum saepe!</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-10 col-lg-4 order-1 order-lg-2">
            <img src="{{url_for('static' , filename = 'img/Predeterminado.svg')}}" alt="" class="img-fluid rounded">
        </div>
    </div>

    <div class="row p-3 justify-content-center">
        <div class="col-10 col-lg-4">
            <img src="{{url_for('static' , filename = 'img/Predeterminado.svg')}}" alt="" class="img-fluid rounded">
        </div>

        <div class="col-12 col-lg-8">
            <div class="card fondo-orange shadow h-100 border-0">
                <div
                    class="card-body rounded d-flex flex-column align-items-center justify-content-center text-white shadow fondo-orange">
                    <div class="text-center px-3 px-lg-5">
                        <h1 class="display-4"><strong> CREDENCIALES </strong></h1>
                        <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi labore et,
                            vitae quis,
                            commodi esse ut reiciendis quaerat ipsum quo perspiciatis quae accusantium veniam expedita
                            sequi odio
                            ullam earum saepe!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row p-3 justify-content-center bg-dark">
        <div class="col-12 col-lg-8 order-2 order-lg-1">
            <div class="card bg-dark shadow h-100 border-0">
                <div
                    class="card-body bg-dark rounded d-flex flex-column align-items-center justify-content-center text-white shadow fondo-orange">
                    <div class="text-center px-3 px-lg-5">
                        <h1 class="display-4"><strong> FLYERS </strong></h1>
                        <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi labore et,
                            vitae quis,
                            commodi esse ut reiciendis quaerat ipsum quo perspiciatis quae accusantium veniam expedita
                            sequi odio
                            ullam earum saepe!</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-10 col-lg-4 order-1 order-lg-2">
            <img src="{{url_for('static' , filename = 'img/Predeterminado.svg')}}" alt="" class="img-fluid rounded">
        </div>
    </div>
</div>

{% endblock %}